:root {
  // colors
  --color-background-primary: 0, 20, 41;
  --color-background-shadow: 0, 128, 255;
  --color-container-primary: 0, 128, 255;
  --color-container-border: 159, 204, 249;
  --color-container-shadow: 153, 204, 255;
  --color-text: 115, 171, 255;

  // opacity values
  --o-container-primary: 0.3;
  --o-background-shadow: 0.5;
  --o-container-shadow: 0.88;
}
