// Modern CSS Reset by Andy Bell
// https://github.com/hankchizljaw/modern-css-reset

// 🔶 = additions by Karla Walker

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-y: scroll;

  // 🔶 set base font family
  line-height: 1.4;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

/* select reset using Stephanie Eckles' tutorial: https://moderncss.dev/custom-select-styles-with-pure-css/ */

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// 🔶 add accessible outline to focused elements
:focus {
  outline: 2px solid rgb(255, 24, 24);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

// 🔶 High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: #fff;
  background: rgba(rgb(0, 39, 179), 0.99);
}

// TODO: Add scrollbar styles
// 🔶 Scrollbar styles
// ::-webkit-scrollbar {
//   height: 1rem;
// }

// ::-webkit-scrollbar-track {
//   // background-color: transparent;
//   // border: 1px solid rgb(0, 0, 0);
//   // border-radius: 0.25rem;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgb(0, 0, 0);
//   // border-radius: 0.25rem;
// }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
