h1,
h2,
h3 {
  font-family: "Silkscreen", cursive;
  font-weight: 400;
}

h1 {
  font-weight: 600;
}

.codex-entries {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.codex-subject {
  // color: black;
}
