button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text);
}
