.entry-nav {
  margin-block-end: 4em;
}

.entry-container {
  max-width: 42rem;
  margin: 0 auto 6em;
  padding-bottom: 2em;

  header {
    margin-bottom: 4em;
  }
}

.entry-info {
  display: grid;
  gap: 1.2em;
  grid-template-columns: 1fr;
  width: 100%;

  p {
    // display: grid;
    align-items: center;
    justify-items: center;
    max-width: 70ch;
  }
}
