html {
  background-color: rgb(var(--color-background-primary));
  box-shadow: inset 0 0 50px 0 rgba(var(--color-background-shadow), var(--o-background-shadow));

  color: rgb(var(--color-text));
}

header {
  h1 {
    margin-bottom: 20px;
    line-height: 1;
  }

  p {
    max-width: 60ch;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

span {
  font-weight: bold;
  color: rgb(var(--color-text-bold));
}

.title {
  max-width: 6ch;
}

/* custom select styles using Stephanie Eckles' tutorial: https://moderncss.dev/custom-select-styles-with-pure-css/*/
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid rgb(var(--color-container-border));
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
}

select {
  color: rgb(var(--color-text));
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgb(var(--color-text));
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select::after {
  grid-area: select;
}

.codex {
  display: flex;
  flex-direction: column;

  max-width: 1500px;
  margin: 0 auto;

  .sort-select {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    margin-bottom: 4.6rem;
    width: 100%;

    @media screen and (min-width: 1480px) {
      margin-right: 0;
    }

    label {
      // width: 60%;
      // justify-self: center;
      height: 4ch;
      margin-right: 1rem;
    }

    select {
      border-radius: 5px;
      padding: 5px;
    }
  }

  &-entries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    overflow-wrap: break-word;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: left;
    gap: 16px 12px;
    margin-bottom: 150px;
    // padding: 2rem;
  }
}
